.icon {
    background-image: url(images/psdex.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 30px;
}

.icon-undefined { background-position: 0 0; }
.icon-Bulbasaur { background-position: -40px -0px; }
.icon-Ivysaur { background-position: -80px -0px; }
.icon-Venusaur { background-position: -120px -0px; }
.icon-Charmander { background-position: -160px -0px; }
.icon-Charmeleon { background-position: -200px -0px; }
.icon-Charizard { background-position: -240px -0px; }
.icon-Squirtle { background-position: -280px -0px; }
.icon-Wartortle { background-position: -320px -0px; }
.icon-Blastoise { background-position: -360px -0px; }
.icon-Caterpie { background-position: -400px -0px; }
.icon-Metapod { background-position: -440px -0px; }
.icon-Butterfree { background-position: -0px -30px; }
.icon-Weedle { background-position: -40px -30px; }
.icon-Kakuna { background-position: -80px -30px; }
.icon-Beedrill { background-position: -120px -30px; }
.icon-Pidgey { background-position: -160px -30px; }
.icon-Pidgeotto { background-position: -200px -30px; }
.icon-Pidgeot { background-position: -240px -30px; }
.icon-Rattata { background-position: -280px -30px; }
.icon-Raticate { background-position: -320px -30px; }
.icon-Spearow { background-position: -360px -30px; }
.icon-Fearow { background-position: -400px -30px; }
.icon-Ekans { background-position: -440px -30px; }
.icon-Arbok { background-position: -0px -60px; }
.icon-Pikachu { background-position: -40px -60px; }
.icon-Raichu { background-position: -80px -60px; }
.icon-Sandshrew { background-position: -120px -60px; }
.icon-Sandslash { background-position: -160px -60px; }
.icon-Nidoran♀ { background-position: -200px -60px; }
.icon-Nidorina { background-position: -240px -60px; }
.icon-Nidoqueen { background-position: -280px -60px; }
.icon-Nidoran♂ { background-position: -320px -60px; }
.icon-Nidorino { background-position: -360px -60px; }
.icon-Nidoking { background-position: -400px -60px; }
.icon-Clefairy { background-position: -440px -60px; }
.icon-Clefable { background-position: -0px -90px; }
.icon-Vulpix { background-position: -40px -90px; }
.icon-Ninetales { background-position: -80px -90px; }
.icon-Jigglypuff { background-position: -120px -90px; }
.icon-Wigglytuff { background-position: -160px -90px; }
.icon-Zubat { background-position: -200px -90px; }
.icon-Golbat { background-position: -240px -90px; }
.icon-Oddish { background-position: -280px -90px; }
.icon-Gloom { background-position: -320px -90px; }
.icon-Vileplume { background-position: -360px -90px; }
.icon-Paras { background-position: -400px -90px; }
.icon-Parasect { background-position: -440px -90px; }
.icon-Venonat { background-position: -0px -120px; }
.icon-Venomoth { background-position: -40px -120px; }
.icon-Diglett { background-position: -80px -120px; }
.icon-Dugtrio { background-position: -120px -120px; }
.icon-Meowth { background-position: -160px -120px; }
.icon-Persian { background-position: -200px -120px; }
.icon-Psyduck { background-position: -240px -120px; }
.icon-Golduck { background-position: -280px -120px; }
.icon-Mankey { background-position: -320px -120px; }
.icon-Primeape { background-position: -360px -120px; }
.icon-Growlithe { background-position: -400px -120px; }
.icon-Arcanine { background-position: -440px -120px; }
.icon-Poliwag { background-position: -0px -150px; }
.icon-Poliwhirl { background-position: -40px -150px; }
.icon-Poliwrath { background-position: -80px -150px; }
.icon-Abra { background-position: -120px -150px; }
.icon-Kadabra { background-position: -160px -150px; }
.icon-Alakazam { background-position: -200px -150px; }
.icon-Machop { background-position: -240px -150px; }
.icon-Machoke { background-position: -280px -150px; }
.icon-Machamp { background-position: -320px -150px; }
.icon-Bellsprout { background-position: -360px -150px; }
.icon-Weepinbell { background-position: -400px -150px; }
.icon-Victreebel { background-position: -440px -150px; }
.icon-Tentacool { background-position: -0px -180px; }
.icon-Tentacruel { background-position: -40px -180px; }
.icon-Geodude { background-position: -80px -180px; }
.icon-Graveler { background-position: -120px -180px; }
.icon-Golem { background-position: -160px -180px; }
.icon-Ponyta { background-position: -200px -180px; }
.icon-Rapidash { background-position: -240px -180px; }
.icon-Slowpoke { background-position: -280px -180px; }
.icon-Slowbro { background-position: -320px -180px; }
.icon-Magnemite { background-position: -360px -180px; }
.icon-Magneton { background-position: -400px -180px; }
.icon-Farfetchd { background-position: -440px -180px; }
.icon-Doduo { background-position: -0px -210px; }
.icon-Dodrio { background-position: -40px -210px; }
.icon-Seel { background-position: -80px -210px; }
.icon-Dewgong { background-position: -120px -210px; }
.icon-Grimer { background-position: -160px -210px; }
.icon-Muk { background-position: -200px -210px; }
.icon-Shellder { background-position: -240px -210px; }
.icon-Cloyster { background-position: -280px -210px; }
.icon-Gastly { background-position: -320px -210px; }
.icon-Haunter { background-position: -360px -210px; }
.icon-Gengar { background-position: -400px -210px; }
.icon-Onix { background-position: -440px -210px; }
.icon-Drowzee { background-position: -0px -240px; }
.icon-Hypno { background-position: -40px -240px; }
.icon-Krabby { background-position: -80px -240px; }
.icon-Kingler { background-position: -120px -240px; }
.icon-Voltorb { background-position: -160px -240px; }
.icon-Electrode { background-position: -200px -240px; }
.icon-Exeggcute { background-position: -240px -240px; }
.icon-Exeggutor { background-position: -280px -240px; }
.icon-Cubone { background-position: -320px -240px; }
.icon-Marowak { background-position: -360px -240px; }
.icon-Hitmonlee { background-position: -400px -240px; }
.icon-Hitmonchan { background-position: -440px -240px; }
.icon-Lickitung { background-position: -0px -270px; }
.icon-Koffing { background-position: -40px -270px; }
.icon-Weezing { background-position: -80px -270px; }
.icon-Rhyhorn { background-position: -120px -270px; }
.icon-Rhydon { background-position: -160px -270px; }
.icon-Chansey { background-position: -200px -270px; }
.icon-Tangela { background-position: -240px -270px; }
.icon-Kangaskhan { background-position: -280px -270px; }
.icon-Horsea { background-position: -320px -270px; }
.icon-Seadra { background-position: -360px -270px; }
.icon-Goldeen { background-position: -400px -270px; }
.icon-Seaking { background-position: -440px -270px; }
.icon-Staryu { background-position: -0px -300px; }
.icon-Starmie { background-position: -40px -300px; }
.icon-MrMime { background-position: -80px -300px; }
.icon-Scyther { background-position: -120px -300px; }
.icon-Jynx { background-position: -160px -300px; }
.icon-Electabuzz { background-position: -200px -300px; }
.icon-Magmar { background-position: -240px -300px; }
.icon-Pinsir { background-position: -280px -300px; }
.icon-Tauros { background-position: -320px -300px; }
.icon-Magikarp { background-position: -360px -300px; }
.icon-Gyarados { background-position: -400px -300px; }
.icon-Lapras { background-position: -440px -300px; }
.icon-Ditto { background-position: -0px -330px; }
.icon-Eevee { background-position: -40px -330px; }
.icon-Vaporeon { background-position: -80px -330px; }
.icon-Jolteon { background-position: -120px -330px; }
.icon-Flareon { background-position: -160px -330px; }
.icon-Porygon { background-position: -200px -330px; }
.icon-Omanyte { background-position: -240px -330px; }
.icon-Omastar { background-position: -280px -330px; }
.icon-Kabuto { background-position: -320px -330px; }
.icon-Kabutops { background-position: -360px -330px; }
.icon-Aerodactyl { background-position: -400px -330px; }
.icon-Snorlax { background-position: -440px -330px; }
.icon-Articuno { background-position: -0px -360px; }
.icon-Zapdos { background-position: -40px -360px; }
.icon-Moltres { background-position: -80px -360px; }
.icon-Dratini { background-position: -120px -360px; }
.icon-Dragonair { background-position: -160px -360px; }
.icon-Dragonite { background-position: -200px -360px; }
.icon-Mewtwo { background-position: -240px -360px; }
.icon-Mew { background-position: -280px -360px; }
.icon-Chikorita { background-position: -320px -360px; }
.icon-Bayleef { background-position: -360px -360px; }
.icon-Meganium { background-position: -400px -360px; }
.icon-Cyndaquil { background-position: -440px -360px; }
.icon-Quilava { background-position: -0px -390px; }
.icon-Typhlosion { background-position: -40px -390px; }
.icon-Totodile { background-position: -80px -390px; }
.icon-Croconaw { background-position: -120px -390px; }
.icon-Feraligatr { background-position: -160px -390px; }
.icon-Sentret { background-position: -200px -390px; }
.icon-Furret { background-position: -240px -390px; }
.icon-Hoothoot { background-position: -280px -390px; }
.icon-Noctowl { background-position: -320px -390px; }
.icon-Ledyba { background-position: -360px -390px; }
.icon-Ledian { background-position: -400px -390px; }
.icon-Spinarak { background-position: -440px -390px; }
.icon-Ariados { background-position: -0px -420px; }
.icon-Crobat { background-position: -40px -420px; }
.icon-Chinchou { background-position: -80px -420px; }
.icon-Lanturn { background-position: -120px -420px; }
.icon-Pichu { background-position: -160px -420px; }
.icon-Cleffa { background-position: -200px -420px; }
.icon-Igglybuff { background-position: -240px -420px; }
.icon-Togepi { background-position: -280px -420px; }
.icon-Togetic { background-position: -320px -420px; }
.icon-Natu { background-position: -360px -420px; }
.icon-Xatu { background-position: -400px -420px; }
.icon-Mareep { background-position: -440px -420px; }
.icon-Flaaffy { background-position: -0px -450px; }
.icon-Ampharos { background-position: -40px -450px; }
.icon-Bellossom { background-position: -80px -450px; }
.icon-Marill { background-position: -120px -450px; }
.icon-Azumarill { background-position: -160px -450px; }
.icon-Sudowoodo { background-position: -200px -450px; }
.icon-Politoed { background-position: -240px -450px; }
.icon-Hoppip { background-position: -280px -450px; }
.icon-Skiploom { background-position: -320px -450px; }
.icon-Jumpluff { background-position: -360px -450px; }
.icon-Aipom { background-position: -400px -450px; }
.icon-Sunkern { background-position: -440px -450px; }
.icon-Sunflora { background-position: -0px -480px; }
.icon-Yanma { background-position: -40px -480px; }
.icon-Wooper { background-position: -80px -480px; }
.icon-Quagsire { background-position: -120px -480px; }
.icon-Espeon { background-position: -160px -480px; }
.icon-Umbreon { background-position: -200px -480px; }
.icon-Murkrow { background-position: -240px -480px; }
.icon-Slowking { background-position: -280px -480px; }
.icon-Misdreavus { background-position: -320px -480px; }
.icon-Unown { background-position: -360px -480px; }
.icon-Wobbuffet { background-position: -400px -480px; }
.icon-Girafarig { background-position: -440px -480px; }
.icon-Pineco { background-position: -0px -510px; }
.icon-Forretress { background-position: -40px -510px; }
.icon-Dunsparce { background-position: -80px -510px; }
.icon-Gligar { background-position: -120px -510px; }
.icon-Steelix { background-position: -160px -510px; }
.icon-Snubbull { background-position: -200px -510px; }
.icon-Granbull { background-position: -240px -510px; }
.icon-Qwilfish { background-position: -280px -510px; }
.icon-Scizor { background-position: -320px -510px; }
.icon-Shuckle { background-position: -360px -510px; }
.icon-Heracross { background-position: -400px -510px; }
.icon-Sneasel { background-position: -440px -510px; }
.icon-Teddiursa { background-position: -0px -540px; }
.icon-Ursaring { background-position: -40px -540px; }
.icon-Slugma { background-position: -80px -540px; }
.icon-Magcargo { background-position: -120px -540px; }
.icon-Swinub { background-position: -160px -540px; }
.icon-Piloswine { background-position: -200px -540px; }
.icon-Corsola { background-position: -240px -540px; }
.icon-Remoraid { background-position: -280px -540px; }
.icon-Octillery { background-position: -320px -540px; }
.icon-Delibird { background-position: -360px -540px; }
.icon-Mantine { background-position: -400px -540px; }
.icon-Skarmory { background-position: -440px -540px; }
.icon-Houndour { background-position: -0px -570px; }
.icon-Houndoom { background-position: -40px -570px; }
.icon-Kingdra { background-position: -80px -570px; }
.icon-Phanpy { background-position: -120px -570px; }
.icon-Donphan { background-position: -160px -570px; }
.icon-Porygon2 { background-position: -200px -570px; }
.icon-Stantler { background-position: -240px -570px; }
.icon-Smeargle { background-position: -280px -570px; }
.icon-Tyrogue { background-position: -320px -570px; }
.icon-Hitmontop { background-position: -360px -570px; }
.icon-Smoochum { background-position: -400px -570px; }
.icon-Elekid { background-position: -440px -570px; }
.icon-Magby { background-position: -0px -600px; }
.icon-Miltank { background-position: -40px -600px; }
.icon-Blissey { background-position: -80px -600px; }
.icon-Raikou { background-position: -120px -600px; }
.icon-Entei { background-position: -160px -600px; }
.icon-Suicune { background-position: -200px -600px; }
.icon-Larvitar { background-position: -240px -600px; }
.icon-Pupitar { background-position: -280px -600px; }
.icon-Tyranitar { background-position: -320px -600px; }
.icon-Lugia { background-position: -360px -600px; }
.icon-Ho-Oh { background-position: -400px -600px; }
.icon-Celebi { background-position: -440px -600px; }
.icon-Treecko { background-position: -0px -630px; }
.icon-Grovyle { background-position: -40px -630px; }
.icon-Sceptile { background-position: -80px -630px; }
.icon-Torchic { background-position: -120px -630px; }
.icon-Combusken { background-position: -160px -630px; }
.icon-Blaziken { background-position: -200px -630px; }
.icon-Mudkip { background-position: -240px -630px; }
.icon-Marshtomp { background-position: -280px -630px; }
.icon-Swampert { background-position: -320px -630px; }
.icon-Poochyena { background-position: -360px -630px; }
.icon-Mightyena { background-position: -400px -630px; }
.icon-Zigzagoon { background-position: -440px -630px; }
.icon-Linoone { background-position: -0px -660px; }
.icon-Wurmple { background-position: -40px -660px; }
.icon-Silcoon { background-position: -80px -660px; }
.icon-Beautifly { background-position: -120px -660px; }
.icon-Cascoon { background-position: -160px -660px; }
.icon-Dustox { background-position: -200px -660px; }
.icon-Lotad { background-position: -240px -660px; }
.icon-Lombre { background-position: -280px -660px; }
.icon-Ludicolo { background-position: -320px -660px; }
.icon-Seedot { background-position: -360px -660px; }
.icon-Nuzleaf { background-position: -400px -660px; }
.icon-Shiftry { background-position: -440px -660px; }
.icon-Taillow { background-position: -0px -690px; }
.icon-Swellow { background-position: -40px -690px; }
.icon-Wingull { background-position: -80px -690px; }
.icon-Pelipper { background-position: -120px -690px; }
.icon-Ralts { background-position: -160px -690px; }
.icon-Kirlia { background-position: -200px -690px; }
.icon-Gardevoir { background-position: -240px -690px; }
.icon-Surskit { background-position: -280px -690px; }
.icon-Masquerain { background-position: -320px -690px; }
.icon-Shroomish { background-position: -360px -690px; }
.icon-Breloom { background-position: -400px -690px; }
.icon-Slakoth { background-position: -440px -690px; }
.icon-Vigoroth { background-position: -0px -720px; }
.icon-Slaking { background-position: -40px -720px; }
.icon-Nincada { background-position: -80px -720px; }
.icon-Ninjask { background-position: -120px -720px; }
.icon-Shedinja { background-position: -160px -720px; }
.icon-Whismur { background-position: -200px -720px; }
.icon-Loudred { background-position: -240px -720px; }
.icon-Exploud { background-position: -280px -720px; }
.icon-Makuhita { background-position: -320px -720px; }
.icon-Hariyama { background-position: -360px -720px; }
.icon-Azurill { background-position: -400px -720px; }
.icon-Nosepass { background-position: -440px -720px; }
.icon-Skitty { background-position: -0px -750px; }
.icon-Delcatty { background-position: -40px -750px; }
.icon-Sableye { background-position: -80px -750px; }
.icon-Mawile { background-position: -120px -750px; }
.icon-Aron { background-position: -160px -750px; }
.icon-Lairon { background-position: -200px -750px; }
.icon-Aggron { background-position: -240px -750px; }
.icon-Meditite { background-position: -280px -750px; }
.icon-Medicham { background-position: -320px -750px; }
.icon-Electrike { background-position: -360px -750px; }
.icon-Manectric { background-position: -400px -750px; }
.icon-Plusle { background-position: -440px -750px; }
.icon-Minun { background-position: -0px -780px; }
.icon-Volbeat { background-position: -40px -780px; }
.icon-Illumise { background-position: -80px -780px; }
.icon-Roselia { background-position: -120px -780px; }
.icon-Gulpin { background-position: -160px -780px; }
.icon-Swalot { background-position: -200px -780px; }
.icon-Carvanha { background-position: -240px -780px; }
.icon-Sharpedo { background-position: -280px -780px; }
.icon-Wailmer { background-position: -320px -780px; }
.icon-Wailord { background-position: -360px -780px; }
.icon-Numel { background-position: -400px -780px; }
.icon-Camerupt { background-position: -440px -780px; }
.icon-Torkoal { background-position: -0px -810px; }
.icon-Spoink { background-position: -40px -810px; }
.icon-Grumpig { background-position: -80px -810px; }
.icon-Spinda { background-position: -120px -810px; }
.icon-Trapinch { background-position: -160px -810px; }
.icon-Vibrava { background-position: -200px -810px; }
.icon-Flygon { background-position: -240px -810px; }
.icon-Cacnea { background-position: -280px -810px; }
.icon-Cacturne { background-position: -320px -810px; }
.icon-Swablu { background-position: -360px -810px; }
.icon-Altaria { background-position: -400px -810px; }
.icon-Zangoose { background-position: -440px -810px; }
.icon-Seviper { background-position: -0px -840px; }
.icon-Lunatone { background-position: -40px -840px; }
.icon-Solrock { background-position: -80px -840px; }
.icon-Barboach { background-position: -120px -840px; }
.icon-Whiscash { background-position: -160px -840px; }
.icon-Corphish { background-position: -200px -840px; }
.icon-Crawdaunt { background-position: -240px -840px; }
.icon-Baltoy { background-position: -280px -840px; }
.icon-Claydol { background-position: -320px -840px; }
.icon-Lileep { background-position: -360px -840px; }
.icon-Cradily { background-position: -400px -840px; }
.icon-Anorith { background-position: -440px -840px; }
.icon-Armaldo { background-position: -0px -870px; }
.icon-Feebas { background-position: -40px -870px; }
.icon-Milotic { background-position: -80px -870px; }
.icon-Castform { background-position: -120px -870px; }
.icon-Kecleon { background-position: -160px -870px; }
.icon-Shuppet { background-position: -200px -870px; }
.icon-Banette { background-position: -240px -870px; }
.icon-Duskull { background-position: -280px -870px; }
.icon-Dusclops { background-position: -320px -870px; }
.icon-Tropius { background-position: -360px -870px; }
.icon-Chimecho { background-position: -400px -870px; }
.icon-Absol { background-position: -440px -870px; }
.icon-Wynaut { background-position: -0px -900px; }
.icon-Snorunt { background-position: -40px -900px; }
.icon-Glalie { background-position: -80px -900px; }
.icon-Spheal { background-position: -120px -900px; }
.icon-Sealeo { background-position: -160px -900px; }
.icon-Walrein { background-position: -200px -900px; }
.icon-Clamperl { background-position: -240px -900px; }
.icon-Huntail { background-position: -280px -900px; }
.icon-Gorebyss { background-position: -320px -900px; }
.icon-Relicanth { background-position: -360px -900px; }
.icon-Luvdisc { background-position: -400px -900px; }
.icon-Bagon { background-position: -440px -900px; }
.icon-Shelgon { background-position: -0px -930px; }
.icon-Salamence { background-position: -40px -930px; }
.icon-Beldum { background-position: -80px -930px; }
.icon-Metang { background-position: -120px -930px; }
.icon-Metagross { background-position: -160px -930px; }
.icon-Regirock { background-position: -200px -930px; }
.icon-Regice { background-position: -240px -930px; }
.icon-Registeel { background-position: -280px -930px; }
.icon-Latias { background-position: -320px -930px; }
.icon-Latios { background-position: -360px -930px; }
.icon-Kyogre { background-position: -400px -930px; }
.icon-Groudon { background-position: -440px -930px; }
.icon-Rayquaza { background-position: -0px -960px; }
.icon-Jirachi { background-position: -40px -960px; }
.icon-Deoxys { background-position: -80px -960px; }
.icon-Turtwig { background-position: -120px -960px; }
.icon-Grotle { background-position: -160px -960px; }
.icon-Torterra { background-position: -200px -960px; }
.icon-Chimchar { background-position: -240px -960px; }
.icon-Monferno { background-position: -280px -960px; }
.icon-Infernape { background-position: -320px -960px; }
.icon-Piplup { background-position: -360px -960px; }
.icon-Prinplup { background-position: -400px -960px; }
.icon-Empoleon { background-position: -440px -960px; }
.icon-Starly { background-position: -0px -990px; }
.icon-Staravia { background-position: -40px -990px; }
.icon-Staraptor { background-position: -80px -990px; }
.icon-Bidoof { background-position: -120px -990px; }
.icon-Bibarel { background-position: -160px -990px; }
.icon-Kricketot { background-position: -200px -990px; }
.icon-Kricketune { background-position: -240px -990px; }
.icon-Shinx { background-position: -280px -990px; }
.icon-Luxio { background-position: -320px -990px; }
.icon-Luxray { background-position: -360px -990px; }
.icon-Budew { background-position: -400px -990px; }
.icon-Roserade { background-position: -440px -990px; }
.icon-Cranidos { background-position: -0px -1020px; }
.icon-Rampardos { background-position: -40px -1020px; }
.icon-Shieldon { background-position: -80px -1020px; }
.icon-Bastiodon { background-position: -120px -1020px; }
.icon-Burmy { background-position: -160px -1020px; }
.icon-Wormadam { background-position: -200px -1020px; }
.icon-Mothim { background-position: -240px -1020px; }
.icon-Combee { background-position: -280px -1020px; }
.icon-Vespiquen { background-position: -320px -1020px; }
.icon-Pachirisu { background-position: -360px -1020px; }
.icon-Buizel { background-position: -400px -1020px; }
.icon-Floatzel { background-position: -440px -1020px; }
.icon-Cherubi { background-position: -0px -1050px; }
.icon-Cherrim { background-position: -40px -1050px; }
.icon-Shellos { background-position: -80px -1050px; }
.icon-Gastrodon { background-position: -120px -1050px; }
.icon-Ambipom { background-position: -160px -1050px; }
.icon-Drifloon { background-position: -200px -1050px; }
.icon-Drifblim { background-position: -240px -1050px; }
.icon-Buneary { background-position: -280px -1050px; }
.icon-Lopunny { background-position: -320px -1050px; }
.icon-Mismagius { background-position: -360px -1050px; }
.icon-Honchkrow { background-position: -400px -1050px; }
.icon-Glameow { background-position: -440px -1050px; }
.icon-Purugly { background-position: -0px -1080px; }
.icon-Chingling { background-position: -40px -1080px; }
.icon-Stunky { background-position: -80px -1080px; }
.icon-Skuntank { background-position: -120px -1080px; }
.icon-Bronzor { background-position: -160px -1080px; }
.icon-Bronzong { background-position: -200px -1080px; }
.icon-Bonsly { background-position: -240px -1080px; }
.icon-MimeJr. { background-position: -280px -1080px; }
.icon-Happiny { background-position: -320px -1080px; }
.icon-Chatot { background-position: -360px -1080px; }
.icon-Spiritomb { background-position: -400px -1080px; }
.icon-Gible { background-position: -440px -1080px; }
.icon-Gabite { background-position: -0px -1110px; }
.icon-Garchomp { background-position: -40px -1110px; }
.icon-Munchlax { background-position: -80px -1110px; }
.icon-Riolu { background-position: -120px -1110px; }
.icon-Lucario { background-position: -160px -1110px; }
.icon-Hippopotas { background-position: -200px -1110px; }
.icon-Hippowdon { background-position: -240px -1110px; }
.icon-Skorupi { background-position: -280px -1110px; }
.icon-Drapion { background-position: -320px -1110px; }
.icon-Croagunk { background-position: -360px -1110px; }
.icon-Toxicroak { background-position: -400px -1110px; }
.icon-Carnivine { background-position: -440px -1110px; }
.icon-Finneon { background-position: -0px -1140px; }
.icon-Lumineon { background-position: -40px -1140px; }
.icon-Mantyke { background-position: -80px -1140px; }
.icon-Snover { background-position: -120px -1140px; }
.icon-Abomasnow { background-position: -160px -1140px; }
.icon-Weavile { background-position: -200px -1140px; }
.icon-Magnezone { background-position: -240px -1140px; }
.icon-Lickilicky { background-position: -280px -1140px; }
.icon-Rhyperior { background-position: -320px -1140px; }
.icon-Tangrowth { background-position: -360px -1140px; }
.icon-Electivire { background-position: -400px -1140px; }
.icon-Magmortar { background-position: -440px -1140px; }
.icon-Togekiss { background-position: -0px -1170px; }
.icon-Yanmega { background-position: -40px -1170px; }
.icon-Leafeon { background-position: -80px -1170px; }
.icon-Glaceon { background-position: -120px -1170px; }
.icon-Gliscor { background-position: -160px -1170px; }
.icon-Mamoswine { background-position: -200px -1170px; }
.icon-Porygon-Z { background-position: -240px -1170px; }
.icon-Gallade { background-position: -280px -1170px; }
.icon-Probopass { background-position: -320px -1170px; }
.icon-Dusknoir { background-position: -360px -1170px; }
.icon-Froslass { background-position: -400px -1170px; }
.icon-Rotom { background-position: -440px -1170px; }
.icon-Uxie { background-position: -0px -1200px; }
.icon-Mesprit { background-position: -40px -1200px; }
.icon-Azelf { background-position: -80px -1200px; }
.icon-Dialga { background-position: -120px -1200px; }
.icon-Palkia { background-position: -160px -1200px; }
.icon-Heatran { background-position: -200px -1200px; }
.icon-Regigigas { background-position: -240px -1200px; }
.icon-Giratina { background-position: -280px -1200px; }
.icon-Cresselia { background-position: -320px -1200px; }
.icon-Phione { background-position: -360px -1200px; }
.icon-Manaphy { background-position: -400px -1200px; }
.icon-Darkrai { background-position: -440px -1200px; }
.icon-Shaymin { background-position: -0px -1230px; }
.icon-Arceus { background-position: -40px -1230px; }
.icon-Victini { background-position: -80px -1230px; }
.icon-Snivy { background-position: -120px -1230px; }
.icon-Servine { background-position: -160px -1230px; }
.icon-Serperior { background-position: -200px -1230px; }
.icon-Tepig { background-position: -240px -1230px; }
.icon-Pignite { background-position: -280px -1230px; }
.icon-Emboar { background-position: -320px -1230px; }
.icon-Oshawott { background-position: -360px -1230px; }
.icon-Dewott { background-position: -400px -1230px; }
.icon-Samurott { background-position: -440px -1230px; }
.icon-Patrat { background-position: -0px -1260px; }
.icon-Watchog { background-position: -40px -1260px; }
.icon-Lillipup { background-position: -80px -1260px; }
.icon-Herdier { background-position: -120px -1260px; }
.icon-Stoutland { background-position: -160px -1260px; }
.icon-Purrloin { background-position: -200px -1260px; }
.icon-Liepard { background-position: -240px -1260px; }
.icon-Pansage { background-position: -280px -1260px; }
.icon-Simisage { background-position: -320px -1260px; }
.icon-Pansear { background-position: -360px -1260px; }
.icon-Simisear { background-position: -400px -1260px; }
.icon-Panpour { background-position: -440px -1260px; }
.icon-Simipour { background-position: -0px -1290px; }
.icon-Munna { background-position: -40px -1290px; }
.icon-Musharna { background-position: -80px -1290px; }
.icon-Pidove { background-position: -120px -1290px; }
.icon-Tranquill { background-position: -160px -1290px; }
.icon-Unfezant { background-position: -200px -1290px; }
.icon-Blitzle { background-position: -240px -1290px; }
.icon-Zebstrika { background-position: -280px -1290px; }
.icon-Roggenrola { background-position: -320px -1290px; }
.icon-Boldore { background-position: -360px -1290px; }
.icon-Gigalith { background-position: -400px -1290px; }
.icon-Woobat { background-position: -440px -1290px; }
.icon-Swoobat { background-position: -0px -1320px; }
.icon-Drilbur { background-position: -40px -1320px; }
.icon-Excadrill { background-position: -80px -1320px; }
.icon-Audino { background-position: -120px -1320px; }
.icon-Timburr { background-position: -160px -1320px; }
.icon-Gurdurr { background-position: -200px -1320px; }
.icon-Conkeldurr { background-position: -240px -1320px; }
.icon-Tympole { background-position: -280px -1320px; }
.icon-Palpitoad { background-position: -320px -1320px; }
.icon-Seismitoad { background-position: -360px -1320px; }
.icon-Throh { background-position: -400px -1320px; }
.icon-Sawk { background-position: -440px -1320px; }
.icon-Sewaddle { background-position: -0px -1350px; }
.icon-Swadloon { background-position: -40px -1350px; }
.icon-Leavanny { background-position: -80px -1350px; }
.icon-Venipede { background-position: -120px -1350px; }
.icon-Whirlipede { background-position: -160px -1350px; }
.icon-Scolipede { background-position: -200px -1350px; }
.icon-Cottonee { background-position: -240px -1350px; }
.icon-Whimsicott { background-position: -280px -1350px; }
.icon-Petilil { background-position: -320px -1350px; }
.icon-Lilligant { background-position: -360px -1350px; }
.icon-Basculin { background-position: -400px -1350px; }
.icon-Sandile { background-position: -440px -1350px; }
.icon-Krokorok { background-position: -0px -1380px; }
.icon-Krookodile { background-position: -40px -1380px; }
.icon-Darumaka { background-position: -80px -1380px; }
.icon-Darmanitan { background-position: -120px -1380px; }
.icon-Maractus { background-position: -160px -1380px; }
.icon-Dwebble { background-position: -200px -1380px; }
.icon-Crustle { background-position: -240px -1380px; }
.icon-Scraggy { background-position: -280px -1380px; }
.icon-Scrafty { background-position: -320px -1380px; }
.icon-Sigilyph { background-position: -360px -1380px; }
.icon-Yamask { background-position: -400px -1380px; }
.icon-Cofagrigus { background-position: -440px -1380px; }
.icon-Tirtouga { background-position: -0px -1410px; }
.icon-Carracosta { background-position: -40px -1410px; }
.icon-Archen { background-position: -80px -1410px; }
.icon-Archeops { background-position: -120px -1410px; }
.icon-Trubbish { background-position: -160px -1410px; }
.icon-Garbodor { background-position: -200px -1410px; }
.icon-Zorua { background-position: -240px -1410px; }
.icon-Zoroark { background-position: -280px -1410px; }
.icon-Minccino { background-position: -320px -1410px; }
.icon-Cinccino { background-position: -360px -1410px; }
.icon-Gothita { background-position: -400px -1410px; }
.icon-Gothorita { background-position: -440px -1410px; }
.icon-Gothitelle { background-position: -0px -1440px; }
.icon-Solosis { background-position: -40px -1440px; }
.icon-Duosion { background-position: -80px -1440px; }
.icon-Reuniclus { background-position: -120px -1440px; }
.icon-Ducklett { background-position: -160px -1440px; }
.icon-Swanna { background-position: -200px -1440px; }
.icon-Vanillite { background-position: -240px -1440px; }
.icon-Vanillish { background-position: -280px -1440px; }
.icon-Vanilluxe { background-position: -320px -1440px; }
.icon-Deerling { background-position: -360px -1440px; }
.icon-Sawsbuck { background-position: -400px -1440px; }
.icon-Emolga { background-position: -440px -1440px; }
.icon-Karrablast { background-position: -0px -1470px; }
.icon-Escavalier { background-position: -40px -1470px; }
.icon-Foongus { background-position: -80px -1470px; }
.icon-Amoonguss { background-position: -120px -1470px; }
.icon-Frillish { background-position: -160px -1470px; }
.icon-Jellicent { background-position: -200px -1470px; }
.icon-Alomomola { background-position: -240px -1470px; }
.icon-Joltik { background-position: -280px -1470px; }
.icon-Galvantula { background-position: -320px -1470px; }
.icon-Ferroseed { background-position: -360px -1470px; }
.icon-Ferrothorn { background-position: -400px -1470px; }
.icon-Klink { background-position: -440px -1470px; }
.icon-Klang { background-position: -0px -1500px; }
.icon-Klinklang { background-position: -40px -1500px; }
.icon-Tynamo { background-position: -80px -1500px; }
.icon-Eelektrik { background-position: -120px -1500px; }
.icon-Eelektross { background-position: -160px -1500px; }
.icon-Elgyem { background-position: -200px -1500px; }
.icon-Beheeyem { background-position: -240px -1500px; }
.icon-Litwick { background-position: -280px -1500px; }
.icon-Lampent { background-position: -320px -1500px; }
.icon-Chandelure { background-position: -360px -1500px; }
.icon-Axew { background-position: -400px -1500px; }
.icon-Fraxure { background-position: -440px -1500px; }
.icon-Haxorus { background-position: -0px -1530px; }
.icon-Cubchoo { background-position: -40px -1530px; }
.icon-Beartic { background-position: -80px -1530px; }
.icon-Cryogonal { background-position: -120px -1530px; }
.icon-Shelmet { background-position: -160px -1530px; }
.icon-Accelgor { background-position: -200px -1530px; }
.icon-Stunfisk { background-position: -240px -1530px; }
.icon-Mienfoo { background-position: -280px -1530px; }
.icon-Mienshao { background-position: -320px -1530px; }
.icon-Druddigon { background-position: -360px -1530px; }
.icon-Golett { background-position: -400px -1530px; }
.icon-Golurk { background-position: -440px -1530px; }
.icon-Pawniard { background-position: -0px -1560px; }
.icon-Bisharp { background-position: -40px -1560px; }
.icon-Bouffalant { background-position: -80px -1560px; }
.icon-Rufflet { background-position: -120px -1560px; }
.icon-Braviary { background-position: -160px -1560px; }
.icon-Vullaby { background-position: -200px -1560px; }
.icon-Mandibuzz { background-position: -240px -1560px; }
.icon-Heatmor { background-position: -280px -1560px; }
.icon-Durant { background-position: -320px -1560px; }
.icon-Deino { background-position: -360px -1560px; }
.icon-Zweilous { background-position: -400px -1560px; }
.icon-Hydreigon { background-position: -440px -1560px; }
.icon-Larvesta { background-position: -0px -1590px; }
.icon-Volcarona { background-position: -40px -1590px; }
.icon-Cobalion { background-position: -80px -1590px; }
.icon-Terrakion { background-position: -120px -1590px; }
.icon-Virizion { background-position: -160px -1590px; }
.icon-Tornadus { background-position: -200px -1590px; }
.icon-Thundurus { background-position: -240px -1590px; }
.icon-Reshiram { background-position: -280px -1590px; }
.icon-Zekrom { background-position: -320px -1590px; }
.icon-Landorus { background-position: -360px -1590px; }
.icon-Kyurem { background-position: -400px -1590px; }
.icon-Keldeo { background-position: -440px -1590px; }
.icon-Meloetta { background-position: -0px -1620px; }
.icon-Genesect { background-position: -40px -1620px; }
.icon-Chespin { background-position: -80px -1620px; }
.icon-Quilladin { background-position: -120px -1620px; }
.icon-Chesnaught { background-position: -160px -1620px; }
.icon-Fennekin { background-position: -200px -1620px; }
.icon-Braixen { background-position: -240px -1620px; }
.icon-Delphox { background-position: -280px -1620px; }
.icon-Froakie { background-position: -320px -1620px; }
.icon-Frogadier { background-position: -360px -1620px; }
.icon-Greninja { background-position: -400px -1620px; }
.icon-Bunnelby { background-position: -440px -1620px; }
.icon-Diggersby { background-position: -0px -1650px; }
.icon-Fletchling { background-position: -40px -1650px; }
.icon-Fletchinder { background-position: -80px -1650px; }
.icon-Talonflame { background-position: -120px -1650px; }
.icon-Scatterbug { background-position: -160px -1650px; }
.icon-Spewpa { background-position: -200px -1650px; }
.icon-Vivillon { background-position: -240px -1650px; }
.icon-Litleo { background-position: -280px -1650px; }
.icon-Pyroar { background-position: -320px -1650px; }
.icon-Flabébé { background-position: -360px -1650px; }
.icon-Floette { background-position: -400px -1650px; }
.icon-Florges { background-position: -440px -1650px; }
.icon-Skiddo { background-position: -0px -1680px; }
.icon-Gogoat { background-position: -40px -1680px; }
.icon-Pancham { background-position: -80px -1680px; }
.icon-Pangoro { background-position: -120px -1680px; }
.icon-Furfrou { background-position: -160px -1680px; }
.icon-Espurr { background-position: -200px -1680px; }
.icon-Meowstic { background-position: -240px -1680px; }
.icon-Honedge { background-position: -280px -1680px; }
.icon-Doublade { background-position: -320px -1680px; }
.icon-Aegislash { background-position: -360px -1680px; }
.icon-Spritzee { background-position: -400px -1680px; }
.icon-Aromatisse { background-position: -440px -1680px; }
.icon-Swirlix { background-position: -0px -1710px; }
.icon-Slurpuff { background-position: -40px -1710px; }
.icon-Inkay { background-position: -80px -1710px; }
.icon-Malamar { background-position: -120px -1710px; }
.icon-Binacle { background-position: -160px -1710px; }
.icon-Barbaracle { background-position: -200px -1710px; }
.icon-Skrelp { background-position: -240px -1710px; }
.icon-Dragalge { background-position: -280px -1710px; }
.icon-Clauncher { background-position: -320px -1710px; }
.icon-Clawitzer { background-position: -360px -1710px; }
.icon-Helioptile { background-position: -400px -1710px; }
.icon-Heliolisk { background-position: -440px -1710px; }
.icon-Tyrunt { background-position: -0px -1740px; }
.icon-Tyrantrum { background-position: -40px -1740px; }
.icon-Amaura { background-position: -80px -1740px; }
.icon-Aurorus { background-position: -120px -1740px; }
.icon-Sylveon { background-position: -160px -1740px; }
.icon-Hawlucha { background-position: -200px -1740px; }
.icon-Dedenne { background-position: -240px -1740px; }
.icon-Carbink { background-position: -280px -1740px; }
.icon-Goomy { background-position: -320px -1740px; }
.icon-Sliggoo { background-position: -360px -1740px; }
.icon-Goodra { background-position: -400px -1740px; }
.icon-Klefki { background-position: -440px -1740px; }
.icon-Phantump { background-position: -0px -1770px; }
.icon-Trevenant { background-position: -40px -1770px; }
.icon-Pumpkaboo { background-position: -80px -1770px; }
.icon-Gourgeist { background-position: -120px -1770px; }
.icon-Bergmite { background-position: -160px -1770px; }
.icon-Avalugg { background-position: -200px -1770px; }
.icon-Noibat { background-position: -240px -1770px; }
.icon-Noivern { background-position: -280px -1770px; }
.icon-Xerneas { background-position: -320px -1770px; }
.icon-Yveltal { background-position: -360px -1770px; }
.icon-Zygarde { background-position: -400px -1770px; }
.icon-Diancie { background-position: -440px -1770px; }
.icon-Hoopa { background-position: -0px -1800px; }
.icon-Volcanion { background-position: -40px -1800px; }
.icon-Rowlet { background-position: -80px -1800px; }
.icon-Dartrix { background-position: -120px -1800px; }
.icon-Decidueye { background-position: -160px -1800px; }
.icon-Litten { background-position: -200px -1800px; }
.icon-Torracat { background-position: -240px -1800px; }
.icon-Incineroar { background-position: -280px -1800px; }
.icon-Popplio { background-position: -320px -1800px; }
.icon-Brionne { background-position: -360px -1800px; }
.icon-Primarina { background-position: -400px -1800px; }
.icon-Pikipek { background-position: -440px -1800px; }
.icon-Trumbeak { background-position: -0px -1830px; }
.icon-Toucannon { background-position: -40px -1830px; }
.icon-Yungoos { background-position: -80px -1830px; }
.icon-Gumshoos { background-position: -120px -1830px; }
.icon-Grubbin { background-position: -160px -1830px; }
.icon-Charjabug { background-position: -200px -1830px; }
.icon-Vikavolt { background-position: -240px -1830px; }
.icon-Crabrawler { background-position: -280px -1830px; }
.icon-Crabominable { background-position: -320px -1830px; }
.icon-Oricorio { background-position: -360px -1830px; }
.icon-Cutiefly { background-position: -400px -1830px; }
.icon-Ribombee { background-position: -440px -1830px; }
.icon-Rockruff { background-position: -0px -1860px; }
.icon-Lycanroc { background-position: -40px -1860px; }
.icon-Wishiwashi { background-position: -80px -1860px; }
.icon-Mareanie { background-position: -120px -1860px; }
.icon-Toxapex { background-position: -160px -1860px; }
.icon-Mudbray { background-position: -200px -1860px; }
.icon-Mudsdale { background-position: -240px -1860px; }
.icon-Dewpider { background-position: -280px -1860px; }
.icon-Araquanid { background-position: -320px -1860px; }
.icon-Fomantis { background-position: -360px -1860px; }
.icon-Lurantis { background-position: -400px -1860px; }
.icon-Morelull { background-position: -440px -1860px; }
.icon-Shiinotic { background-position: -0px -1890px; }
.icon-Salandit { background-position: -40px -1890px; }
.icon-Salazzle { background-position: -80px -1890px; }
.icon-Stufful { background-position: -120px -1890px; }
.icon-Bewear { background-position: -160px -1890px; }
.icon-Bounsweet { background-position: -200px -1890px; }
.icon-Steenee { background-position: -240px -1890px; }
.icon-Tsareena { background-position: -280px -1890px; }
.icon-Comfey { background-position: -320px -1890px; }
.icon-Oranguru { background-position: -360px -1890px; }
.icon-Passimian { background-position: -400px -1890px; }
.icon-Wimpod { background-position: -440px -1890px; }
.icon-Golisopod { background-position: -0px -1920px; }
.icon-Sandygast { background-position: -40px -1920px; }
.icon-Palossand { background-position: -80px -1920px; }
.icon-Pyukumuku { background-position: -120px -1920px; }
.icon-Type_Null { background-position: -160px -1920px; }
.icon-Silvally { background-position: -200px -1920px; }
.icon-Minior { background-position: -240px -1920px; }
.icon-Komala { background-position: -280px -1920px; }
.icon-Turtonator { background-position: -320px -1920px; }
.icon-Togedemaru { background-position: -360px -1920px; }
.icon-Mimikyu { background-position: -400px -1920px; }
.icon-Bruxish { background-position: -440px -1920px; }
.icon-Drampa { background-position: -0px -1950px; }
.icon-Dhelmise { background-position: -40px -1950px; }
.icon-Jangmo-o { background-position: -80px -1950px; }
.icon-Hakamo-o { background-position: -120px -1950px; }
.icon-Kommo-o { background-position: -160px -1950px; }
.icon-Tapu_Koko { background-position: -200px -1950px; }
.icon-Tapu_Lele { background-position: -240px -1950px; }
.icon-Tapu_Bulu { background-position: -280px -1950px; }
.icon-Tapu_Fini { background-position: -320px -1950px; }
.icon-Cosmog { background-position: -360px -1950px; }
.icon-Cosmoem { background-position: -400px -1950px; }
.icon-Solgaleo { background-position: -440px -1950px; }
.icon-Lunala { background-position: -0px -1980px; }
.icon-Nihilego { background-position: -40px -1980px; }
.icon-Buzzwole { background-position: -80px -1980px; }
.icon-Pheromosa { background-position: -120px -1980px; }
.icon-Xurkitree { background-position: -160px -1980px; }
.icon-Celesteela { background-position: -200px -1980px; }
.icon-Kartana { background-position: -240px -1980px; }
.icon-Guzzlord { background-position: -280px -1980px; }
.icon-Necrozma { background-position: -320px -1980px; }
.icon-Magearna { background-position: -360px -1980px; }
.icon-Marshadow { background-position: -400px -1980px; }
.icon-Poipole { background-position: -440px -1980px; }
.icon-Naganadel { background-position: -0px -2010px; }
.icon-Stakataka { background-position: -40px -2010px; }
.icon-Blacephalon { background-position: -80px -2010px; }
.icon-Zeraora { background-position: -120px -2010px; }
.icon-Meltan { background-position: -160px -2010px; }
.icon-Melmetal { background-position: -200px -2010px; }
.icon-Grookey { background-position: -240px -2010px; }
.icon-Thwackey { background-position: -280px -2010px; }
.icon-Rillaboom { background-position: -320px -2010px; }
.icon-Scorbunny { background-position: -360px -2010px; }
.icon-Raboot { background-position: -400px -2010px; }
.icon-Cinderace { background-position: -440px -2010px; }
.icon-Sobble { background-position: -0px -2040px; }
.icon-Drizzile { background-position: -40px -2040px; }
.icon-Inteleon { background-position: -80px -2040px; }
.icon-Skwovet { background-position: -120px -2040px; }
.icon-Greedent { background-position: -160px -2040px; }
.icon-Rookidee { background-position: -200px -2040px; }
.icon-Corvisquire { background-position: -240px -2040px; }
.icon-Corviknight { background-position: -280px -2040px; }
.icon-Blipbug { background-position: -320px -2040px; }
.icon-Dottler { background-position: -360px -2040px; }
.icon-Orbeetle { background-position: -400px -2040px; }
.icon-Nickit { background-position: -440px -2040px; }
.icon-Thievul { background-position: -0px -2070px; }
.icon-Gossifleur { background-position: -40px -2070px; }
.icon-Eldegoss { background-position: -80px -2070px; }
.icon-Wooloo { background-position: -120px -2070px; }
.icon-Dubwool { background-position: -160px -2070px; }
.icon-Chewtle { background-position: -200px -2070px; }
.icon-Drednaw { background-position: -240px -2070px; }
.icon-Yamper { background-position: -280px -2070px; }
.icon-Boltund { background-position: -320px -2070px; }
.icon-Rolycoly { background-position: -360px -2070px; }
.icon-Carkol { background-position: -400px -2070px; }
.icon-Coalossal { background-position: -440px -2070px; }
.icon-Applin { background-position: -0px -2100px; }
.icon-Flapple { background-position: -40px -2100px; }
.icon-Appletun { background-position: -80px -2100px; }
.icon-Silicobra { background-position: -120px -2100px; }
.icon-Sandaconda { background-position: -160px -2100px; }
.icon-Cramorant { background-position: -200px -2100px; }
.icon-Arrokuda { background-position: -240px -2100px; }
.icon-Barraskewda { background-position: -280px -2100px; }
.icon-Toxel { background-position: -320px -2100px; }
.icon-Toxtricity { background-position: -360px -2100px; }
.icon-Sizzlipede { background-position: -400px -2100px; }
.icon-Centiskorch { background-position: -440px -2100px; }
.icon-Clobbopus { background-position: -0px -2130px; }
.icon-Grapploct { background-position: -40px -2130px; }
.icon-Sinistea { background-position: -80px -2130px; }
.icon-Polteageist { background-position: -120px -2130px; }
.icon-Hatenna { background-position: -160px -2130px; }
.icon-Hattrem { background-position: -200px -2130px; }
.icon-Hatterene { background-position: -240px -2130px; }
.icon-Impidimp { background-position: -280px -2130px; }
.icon-Morgrem { background-position: -320px -2130px; }
.icon-Grimmsnarl { background-position: -360px -2130px; }
.icon-Obstagoon { background-position: -400px -2130px; }
.icon-Perrserker { background-position: -440px -2130px; }
.icon-Cursola { background-position: -0px -2160px; }
.icon-Sirfetchd { background-position: -40px -2160px; }
.icon-MrRime { background-position: -80px -2160px; }
.icon-Runerigus { background-position: -120px -2160px; }
.icon-Milcery { background-position: -160px -2160px; }
.icon-Alcremie { background-position: -200px -2160px; }
.icon-Falinks { background-position: -240px -2160px; }
.icon-Pincurchin { background-position: -280px -2160px; }
.icon-Snom { background-position: -320px -2160px; }
.icon-Frosmoth { background-position: -360px -2160px; }
.icon-Stonjourner { background-position: -400px -2160px; }
.icon-Eiscue { background-position: -440px -2160px; }
.icon-Indeedee { background-position: -0px -2190px; }
.icon-Morpeko { background-position: -40px -2190px; }
.icon-Cufant { background-position: -80px -2190px; }
.icon-Copperajah { background-position: -120px -2190px; }
.icon-Dracozolt { background-position: -160px -2190px; }
.icon-Arctozolt { background-position: -200px -2190px; }
.icon-Dracovish { background-position: -240px -2190px; }
.icon-Arctovish { background-position: -280px -2190px; }
.icon-Duraludon { background-position: -320px -2190px; }
.icon-Dreepy { background-position: -360px -2190px; }
.icon-Drakloak { background-position: -400px -2190px; }
.icon-Dragapult { background-position: -440px -2190px; }
.icon-Zacian { background-position: -0px -2220px; }
.icon-Zamazenta { background-position: -40px -2220px; }
.icon-Eternatus { background-position: -80px -2220px; }
.icon-Kubfu { background-position: -120px -2220px; }
.icon-Urshifu { background-position: -160px -2220px; }
.icon-Zarude { background-position: -200px -2220px; }
.icon-Regieleki { background-position: -240px -2220px; }
.icon-Regidrago { background-position: -280px -2220px; }
.icon-Glastrier { background-position: -320px -2220px; }
.icon-Spectrier { background-position: -360px -2220px; }
.icon-Calyrex { background-position: -400px -2220px; }
.icon-Rotom-Fan { background-position: -0px -2370px; }
.icon-Rotom-Frost { background-position: -40px -2370px; }
.icon-Rotom-Heat { background-position: -80px -2370px; }
.icon-Rotom-Mow { background-position: -120px -2370px; }
.icon-Rotom-Wash { background-position: -160px -2370px; }
.icon-Tornadus-Therian { background-position: -240px -2400px; }
.icon-Thundurus-Therian { background-position: -280px -2400px; }
.icon-Landorus-Therian { background-position: -320px -2400px; }
.icon-Rattata-Alola { background-position: -440px -2520px; }
.icon-Raticate-Alola { background-position: -0px -2550px; }
.icon-Raichu-Alola { background-position: -40px -2550px; }
.icon-Sandshrew-Alola { background-position: -80px -2550px; }
.icon-Sandslash-Alola { background-position: -120px -2550px; }
.icon-Vulpix-Alola { background-position: -160px -2550px; }
.icon-Ninetales-Alola { background-position: -200px -2550px; }
.icon-Diglett-Alola { background-position: -240px -2550px; }
.icon-Dugtrio-Alola { background-position: -280px -2550px; }
.icon-Meowth-Alola { background-position: -320px -2550px; }
.icon-Persian-Alola { background-position: -360px -2550px; }
.icon-Geodude-Alola { background-position: -400px -2550px; }
.icon-Graveler-Alola { background-position: -440px -2550px; }
.icon-Golem-Alola { background-position: -0px -2580px; }
.icon-Grimer-Alola { background-position: -40px -2580px; }
.icon-Muk-Alola { background-position: -80px -2580px; }
.icon-Exeggutor-Alola { background-position: -120px -2580px; }
.icon-Marowak-Alola { background-position: -160px -2580px; }
.icon-Oricorio-Pom-Pom { background-position: -320px -2580px; }
.icon-Oricorio-Pau { background-position: -360px -2580px; }
.icon-Oricorio-Sensu { background-position: -400px -2580px; }
.icon-Lycanroc-Midnight { background-position: -440px -2580px; }
.icon-Lycanroc-Dusk { background-position: -160px -2640px; }
.icon-Meowth-Galar { background-position: -400px -2640px; }
.icon-Ponyta-Galar { background-position: -440px -2640px; }
.icon-Rapidash-Galar { background-position: -0px -2670px; }
.icon-Farfetchd-Galar { background-position: -40px -2670px; }
.icon-Weezing-Galar { background-position: -80px -2670px; }
.icon-MrMime-Galar { background-position: -120px -2670px; }
.icon-Corsola-Galar { background-position: -160px -2670px; }
.icon-Zigzagoon-Galar { background-position: -200px -2670px; }
.icon-Linoone-Galar { background-position: -240px -2670px; }
.icon-Darumaka-Galar { background-position: -280px -2670px; }
.icon-Darmanitan-Galar { background-position: -320px -2670px; }
.icon-Yamask-Galar { background-position: -400px -2670px; }
.icon-Stunfisk-Galar { background-position: -440px -2670px; }
.icon-Indeedee-F { background-position: -0px -2730px; }
.icon-Slowpoke-Galar { background-position: -160px -2730px; }
.icon-Slowbro-Galar { background-position: -200px -2730px; }
.icon-Articuno-Galar { background-position: -320px -2730px; }
.icon-Zapdos-Galar { background-position: -360px -2730px; }
.icon-Moltres-Galar { background-position: -400px -2730px; }
.icon-Slowking-Galar { background-position: -440px -2730px; }

html, body {
  height: 100%;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  border-spacing: 0px;
  text-align: center;
}

th {
  border-collapse: collapse;
  background-color: red;
  color: white;
  font-weight: normal;
  height: 10%;
}

i {
  margin: 0px;
}

td {
  border-collapse: collapse;
  border: 1px solid white;
  height: 15%;
}

h1 {
  margin: 0px;
  padding: 20px 0;
  font-size: 2em;
}

h5 {
  margin: 0px;
  padding: 5px;
  color: white;
  font-size: 0.8em;
}

h6 {
  margin: 0px;
  padding-bottom: 3px;
}

body {
  margin: 0px;
  font: 20px Verdana;
}

div {
  margin: 0px;
  padding: 0px;
}

img {
  margin: 0px;
  padding: 0px;
}
